---
import { features } from "../data/features";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="bg-white dark:bg-zinc-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:text-center">
      <h2
        class="text-base font-semibold leading-7 text-blue-600 dark:text-blue-400"
      >
        {t("features.subtitle")}
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl"
      >
        {t("features.title")}
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
        {t("features.description")}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        {
          features[lang].map((f) => (
            <div class="relative pl-16 fade-in-section">
              <dt class="text-base font-semibold leading-7 text-gray-900 dark:text-gray-100">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-blue-600">
                  <img src={f.icon} alt={f.name} class="h-6 w-6 text-white" />
                </div>
                {f.name}
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-400">
                {f.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>

<script is:inline>
  sections = Array.from(document.getElementsByClassName("fade-in-section"));
  
  observer = new IntersectionObserver(entries => {
    entries.forEach((entry, i) => {
      if (entry.isIntersecting) {
        const timeout = i % 2 === 0 ? 0 : 250
        setTimeout(() => entry.target.classList.add("is-visible"), timeout)
        observer.unobserve(entry.target)
      }
    });
  });
  
  sections.forEach(section => {
    observer.observe(section);
  });
</script>