---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="relative overflow-hidden bg-white">
  <div class="py-16 sm:py-24 lg:py-40">
    <div
      class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8 lg:grid lg:grid-cols-2"
    >
      <div class="flex flex-col justify-center">
        <div class="sm:max-w-lg">
          <h2 class="text-xl font-semibold text-gray-500 sm:text-4xl">
            {t("hero.title")}
          </h2>
          <h1
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl max-w-fit"
          >
            {t("hero.subtitle")}
          </h1>
          <p class="mt-4 text-xl text-gray-500">
            {t("hero.description")}
          </p>
        </div>
        <div>
          <div class="mt-10">
            <a
              href={translatePath("/contacts")}
              class="inline-block rounded-md border border-transparent bg-blue-600 px-8 transition-colors py-3 text-center font-medium text-white hover:bg-blue-700"
              >{t("hero.cta")}</a
            >
          </div>
        </div>
      </div>
      <div class="grid place-items-center mt-20 lg:mt-0">
        <div
          class="inline-block w-80 aspect-square rounded-full overflow-hidden"
        >
          <img
            class="object-cover aspect-square"
            src="/me.webp"
            alt="Ema"
            sizes="300px"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h1::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    border-bottom: 0.1em solid currentColor;
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
</style>
