---
import { skills } from "../data/skills";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="bg-white dark:bg-zinc-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2
      class="mt-2 mb-20 text-2xl font-medium text-center tracking-tight text-gray-900 dark:text-gray-200 sm:text-3xl text-pretty"
    >
      {t("skills.title")}
    </h2>
    <ul class="flex flex-wrap justify-center gap-14 gap-y-20">
      {
        skills.map((item) => (
          <li class="dark:bg-gray-50 dark:w-fit dark:aspect-square dark:rounded-full dark:grid dark:place-items-center dark:p-2">
            <img
              class="w-[100px] h-[50px] object-contain"
              src={item.icon}
              alt={item.name}
              sizes="200px"
            />
          </li>
        ))
      }
    </ul>
  </div>
</div>
