---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html
  lang={lang}
  x-data="{ theme: $persist('light').as('theme') }"
  :class="{ dark: theme === 'dark' }"
>
  <head>
    <script is:inline>
      const theme = JSON.parse(localStorage.getItem("theme"));
      document.querySelector("html").className = theme;
    </script>

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to Manu's portfolio. Showcasing expertise in web development and a passion for creating engaging online experiences."
    />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:title" content="E. Scazza - Web Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Manu's portfolio" />
    <meta property="og:image" content="https://www.escazza.com/me.webp" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:type" content="image/webp" />
    <meta property="og:image:alt" content="Manu's photo" />
    <meta property="og:url" content="https://www.escazza.com" />
    <meta property="og:site_name" content="E. Scazza - Web Developer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@escazza" />
    <meta name="twitter:creator" content="@escazza" />
    <meta name="twitter:title" content="E. Scazza - Web Developer" />
    <meta name="twitter:description" content="Manu's portfolio" />
    <meta name="twitter:image" content="https://www.escazza.com/me.webp" />

    <meta name="generator" content={Astro.generator} />
    <title>E. Scazza - {title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-900">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      @media screen and (min-width: 768px) {
        .fade-in-section {
          opacity: 0;
          transform: translateY(50px);
          visibility: hidden;
          transition:
            opacity 0.5s ease-out,
            transform 0.5s ease-out;
          will-change: opacity, visibility;
        }
        .fade-in-section.is-visible {
          opacity: 1;
          transform: none;
          visibility: visible;
        }
      }
      [x-cloak] {
        display: none !important;
      }
    </style>
  </body>
</html>
